<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="/static/css/home.css"></link>-->
    <link rel="stylesheet" href="{{static_url('css/home.css')}}"></link>


</head>
<body>
<h1>{{static_url('css/home.css')}}</h1>
<center>这是首页</center>

<!--<span>num+120 : {{ num+120}}</span>-->
<!--<span>num :{{num}}</span>-->
<!--<spa>{{ per.get('name')}}</spa>-->
<!--{% if num>200 %}-->
<!--<h1>num>200</h1>-->
<!--{% else %}-->
<!--<h1>num<=200</h1>-->
<!--{% end %}-->
<!--<ul>-->
    <!--{% for s in stu%}-->
    <!--<li>{{s.get('name')}}</li>-->
<!--{%end%}-->
<!--</ul>-->
<!--<h1>mySum():{{getSum(12,100)}}</h1>-->
</body>
</html>